@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Sen&display=swap');

body {
  /* background-color: #CAEDDA; */
  background: url(../images/five-30.jpg) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: scroll;
}

h2 {
font-size: 48px;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
color: #333333;

}
td.hasMeal {
  color: #FF9966;
  font-weight: bolder;
}



.feature table {
  width: 40%;
  font-size: 25px;
  text-align: center;
  margin-left: 5%;
  color: #333333;
  
}
.feature table td {
  cursor: pointer;
}

.feature table td:hover {
  color: #12cb67;
  
}
