@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Sen&display=swap');

body {
  background-color: #CAEDDA;
}

h2 {
font-size: 48px;
margin-top: 1em;
margin-bottom: 1em;
text-align: center;
color: #333333;

}


.feature table {
  width: 75%;
  font-size: 38px;
  text-align: center;
  margin-left: 12%;
  color: #ff9966;
  
}
.feature table td {
  cursor: pointer;
}

.feature table td:hover {
  color: #12cb67;
  
}