body {
  background: url(../images/thirteen-70.jpg) no-repeat center center fixed;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 30%;  
  border-radius: 50%;
}

.container {
  text-align: center;
  padding: 16px;
}

span.psw {
  padding-top: 16px;
}

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
