@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Sen&display=swap');

.modal textarea {
    min-width: 50%;
    min-height: 50%;
    /* overflow: scroll; */
}

.modal h2 {
    text-align: center;
    padding-bottom: 15px;
}


/* The Modal (background) */
.modal {
    text-align: left;
    padding-top: 2%;
    padding-left: 3%;
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 50%;
    /* Full width */
    height: 50%;
    /* Full height */
    background-color: #CAEDDA;
    /* Fallback color */
    /* overflow: scroll; */
    /* positioning of modal box */
    margin-top: 5%;
    margin-left: 25%;
    /* modal box size */
    width: 50%;
    height: fit-content;
    border: center;
    

}

/* Modal Content/Box */
.modal-content {
    list-style-type: none;
    align-content: center;
    justify-content: left;
    width: 80%;
    height: 70%;
    cursor: pointer;
    /* overflow: scroll; */
    background-color:#CAEDDA;
    margin: 5%;
    padding: 10px;
    border: transparent;

}

/* The Close Button */
.close {
    display: hidden;
    /* color: #12CB67;
    /* float: right; */
    /* justify: right; */
    /* font-size: 28px; */
    /* font-weight: bold; */
}

.close:hover,
.close:focus {
    color:#FF9966;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 18px;
    font-size: 15px;
    width: 95%;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
    float: center;
    text-align: center;
    align-content: center;
}

.modal button:hover {
    background: #12CB67;
}

/* 
if we have more buttons */
/* .button-row {
    align-content: center;
     } */