* {
  margin: 0;
  padding: 0;

}

nav {
  width: 100%;
  height: 60px;
  background-color: #333333;
}
nav p {
  font-family: Arial;
  color: white;
  font-size: 10px;
  line-height: 0px;
  float: left;
  padding: 10px 20px;
}

/* Right float for navigation options without switching order */
nav ul {
  float: right;
  padding-right: 50px;

}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  
  
}
/* Navigation text formats */
nav ul li a {
  display: block;
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
  
}
nav ul li a:hover {
 background-color: #12cb67;;

}
 
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #333333;
  border-radius: 0px 0px 4px 4px;
  width: 100px;
  margin-right: 10px;
}
nav ul li:hover ul {
  display: block;

}

nav ul li ul li {
  padding: 8px 14px;
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #12cb67;
  display: inline-block;
}