@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Sen&display=swap');

body {
    background: url(../images/nine-30-flip.jpg)no-repeat center center fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: scroll;
}

h1 {
    margin-top: 4%;
    font-size: 48px;
    margin-bottom: 50px;
    text-align: center;
}

.container .recipes {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
}

#recipe-form {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
}


.container button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 18px;
    font-size: 15px;
    width: 49%;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: 0.25rem; */
}

button,
input {
    overflow: visible;

}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    background-color: #333333;
    border: none;
    color: white;
    padding: 18px;
    font-size: 15px;
    width: 104.9%;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
    margin: 30px auto;

}

.container button:hover {
    background: #12CB67;
}

.btn:hover {
    background: #12CB67;
}

#addIngredients.btn:hover, #killRecipe.btn:hover {
    background: #12CB67;
}

.button-row {
    margin: 30px auto;
}

.table-striped {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 50%;
}

#addIngredients {
    background-color: #ff9966;
    text-decoration: none;
    padding: 12px;
    margin-right: 10px;
    width: 100%;
    border: none;
}

#killRecipe {
    background-color: #ff9966;
    text-decoration: none;
    padding: 12px;
}

#recipeID {
    width: 100%;

}


.collapsible div {
    margin: auto;
}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: 50px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
    text-decoration: none;
    outline: none;
    display: block;


}

.active .collapsible:hover {
    background-color: #CAEDDA;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

.active:hover {
    content: "\2212"
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;

}


.button-row {
    align-content: center;
    justify-content: center;


}

.button:hover {
    background: #12CB67;

}

/* ****  FOOTER  **** */
footer {
    margin-top: 2em;
    /* margin-bottom: 1em; */
    background: #CAEDDA;
    color: #333;
    padding-top: 0.5em;
    height: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;

}

footer a {
    text-decoration: none;
    color: #333;

}

footer a:hover {
    font-weight: bolder;
    color: #ff9966;
}