@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Sen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CAEDDA;
    font-family: 'Sen', sans-serif;
}