<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <html xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eatSmart Home</title>
  <!-- <link rel="stylesheet" href="../static/css/navBar.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/homepage.css"> -->
  <link rel="stylesheet" href="/css/navBar.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <!--change back to "/css/styles.css" for committing-->

</head>

<body>
  <nav>
    <p><a href="/homepage"><img src="/images/eatSmart-logo-03.png" alt="eatSmart-Home" width="190" height="42"></a></p>


    <ul>
      <li><a href="/recipes">My Recipes</a></li>
      <li><a href="/meals">My Meals</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/team-page">About Us</a></li>
      <li><a href="/login">Login</a></li>


    </ul>
  </nav>

  <div class="container">


    <div class="welcome">
      <h1>Welcome to eatSmart</h1>
      <h2>Create daily meal plans, recipes, and shopping lists easily!</h2>
      <p>Our user-friendly app allows you to stay healthy and get creative in the kitchen, while reducing food waste and environmental impact. Get started by
        adding your own recipes and start planning meals quickly and easily today!</p>
      <div class="button-row">
        <a href="/recipes"><button type="button" name="button">Add Recipe</button></a>
        <a href="/meals"></a><button type="button" name="button">Plan Meals</button></a>
      </div>
    </div>

    <div class="feature-boxes">

      <section class="feature">
        <!-- subject to change once integrated with spring -->
        <h2>Upcoming Meals</h2> <a href="/meals"><span>more</span></a>
        <h3>Breakfast:</h3>
        <!--Could also be called Meal 1 or Meal{id} for now-->
        <p>Yogurt with Granola</p>
        <!--individual meal name here - pull from recipes?-->

        <h3>Lunch:</h3>
        <p>Veggie Flatbread</p>

        <h3>Dinner:</h3>
        <p>Salmon and Mixed Vegetables</p>
      </section>


      <section class="feature">
        <!-- Place holder. subject to change once integrated with CSS and JavaScript -->
        <h2>Calendar</h2> <a href="/calendar"><span>more</span></a>
        <h3>March</h3>
        <table>
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
          </tr>
          <tr>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
          </tr>
          <tr>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
          </tr>
          <tr>
            <td>29</td>
            <td>30</td>
            <td>31</td>
          </tr>
        </table>

      </section>

    </div>
  </div>
  <footer>
    &copy2020 WeCanCodeIt - <a href="/team-page">Contact Us</a>
  </footer>

</body>

</html>
