  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>eatSmart Meals</title>
      <link rel="stylesheet" href="../static/css/navBar.css">
      <link rel="stylesheet" href="../static/css/styles.css">
      <link rel="stylesheet" href="../static/css/meals.css">
  </head>
  <body>
   <nav>
       <p><a href="/homepage"><img src="../static/images/eatSmart-logo-03.png" alt="eatSmart-Home" width="190" height="42"></a></p>
Ï		<ul>
            <li><a href="/recipes">My Recipes</a></li>
            <li><a href="/meals">My Meals</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/team-page">About Us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

            <!-- Kelli's code below -->
 	<div class="container">
                    <div class="meals">

                        <h1>Meals</h1>

                        <ul>

                            <li class="collapsible" th:if="${recipesModel.size()!=0}" th:each="recipe: ${recipesModel}">
                                <input class="recipeId" name="id" type="hidden" th:value="${recipe.id}" />

                                <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}">Meal name here</a>
                                <span class="close">x</span>
                            </li>
                            <div class="meal-content">
                                <p>Meal content here...</p>
                            </div>

                            <li class="collapsible">This is a dummy meal<span class="close">x</span>
                            </li>
                            <div class="meal-content">
                                <p>Meal content here...</p>
                            </div>

                            <li class="collapsible">This is another dummy meal<span class="close">x</span>
                            </li>
                            <div class="meal-content">
                                <p>Meal content here...</p>
                            </div>
                        </ul>

                        <div class="button-row">
                            <button type="button" name="button">Add Meal</button>
                            <button type="button" name="button">Grocery List</button>
                        </div>
                    </div>

                </div> 




<!--      <div class="container">
          <div class="meals">
              <h1>Meals</h1>
              <ul class="meal-cards"> 


                  <li th:if="${mealsModel.size() ==0}">No meals to show...Add one</li>
                  <div th:each="meal: ${mealsModel}">
                    <ul>
                      <li >
                        <a th:href="@{/meal(id=${meal.id})}" th:text="${meal.name}"></a>
                      </li>
                    </ul>
                  </div>

                </li>
      </div>

      <form method="POST">-->

          <!--Match Controller-->
         <!--     <div>
                  <label> Enter a Meal Name: </label>
                  <input type="text" name="mealName" />
              </div>

              <div>
                  <label> Enter a Meal Description: </label>
                  <input type="text" name="mealDescription" />
              </div>



              <div>
              <button th:formaction="@{/add-meal}">Create Meal</button>
              </div>

          </form>
-->

      <footer>
          &copy2020 WeCanCodeIt - <a href="team-page.html">Contact Us</a>
        </footer>
        <script src="../static/JavaScript/meals.js"></script>


  </body>
  </html>
