<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="navBar.css">
</head>
<body>

    <nav>
        <p><a href= "#navBar.html"><img src="eatSmart-logo-03.png" alt="eatSmart-Home" width="190" height="42"></a></p>

        <ul>
            <li><a href="#">My Recipes</a>
                <ul>
                    <li><a href="#">Add Recipes</a></li>
                    <li><a href="#">View Recipes</a></li>
                </ul>
            </li>
            <li><a href="#">My Meals</a>
                <ul>
                    <li><a href="#">Add Meal</a></li>
                    <li><a href="#">View Meals</a></li>
                </ul>
            </li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Login</a>
                <ul>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">My Account</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
</body>
</html>
