<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eatSmart About</title>
    <link rel="stylesheet" href="../static/css/styles-team.css">
  </head>

  <body>

<nav class="navbar">
    <a class="active" href="#home">Logo Goes Here</a>
    <a href="#">Recipes</a>
    <a href="#">Meals</a>
    <a href="#">Calendar</a>
    <a href="#">About</a>
</nav>

<div class="container">

<div class="about">
  <h1>About</h1>
  <h2>Our Team</h2>

      <div class="team">
        <div class="team_member">
          <div class="team_image">
            <img src="../static/images/Jenelle-photo.jpg" alt="photo_of_Jenelle">
          </div>
          <h3>Jenelle Maule</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="../static/images/Michael-photo.jpg" alt="photo_of_Michael">
          </div>
          <h3>Michael Garcia</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="../static/images/Kelli-photo.jpg" alt="photo_of_Kelli">
          </div>
          <h3>Kelli Valverde</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="../static/images/Dylan-photo.jpg" alt="photo_of_Dylan">
          </div>
          <h3>Frederick Vaca</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
        </div>
      </div>
</div>


</div>
<footer>
  &copy2020 WeCanCodeIt - <a href="#">Contact Us</a>
</footer>

  </body>
</html>
