<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eatSmart About</title>
   	<link rel="stylesheet" href="/css/navBar.css">
      <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-team.css">
  </head>

  <body>

   <nav>
       <p><a href="/homepage"><img src="/images/eatSmart-logo-03.png" alt="eatSmart-Home" width="190" height="42"></a></p>


        <ul>
            <li><a href="/recipes">My Recipes</a></li>
            <li><a href="/meals">My Meals</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/team-page">About Us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

<div class="container">

<div class="about">
  <h1>About Us</h1>
  <!-- <h2>Our Team</h2> -->

      <div class="team">
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Jenelle-photo.jpg" alt="photo_of_Jenelle">
          </div>
          <h3>Jenelle Malue</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
          <a class="contact_info" href="https://github.com/jmalue" target="_blank ">GitHub</a>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Michael-photo.jpg" alt="photo_of_Michael">
          </div>
          <h3>Michael Garcia</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
          <a class="contact_info" href="https://github.com/mickeySTI" target="_blank ">GitHub</a>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Kelli-photo.jpg" alt="photo_of_Kelli">
          </div>
          <h3>Kelli Valverde</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
          <a class="contact_info" href="https://github.com/kellivalverde" target="_blank ">GitHub</a>
        </div>
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Dylan-photo.jpg" alt="photo_of_Dylan">
          </div>
          <h3>Frederick Vaca</h3>
          <p class="role">Developer</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ex nemo rem laboriosam omnis optio nihil eius eos in perspiciatis explicabo, ducimus iusto id magnam</p>
          <a class="contact_info" href="https://github.com/DillyWilly112" target="_blank ">GitHub</a>
        
        </div>
      </div>
</div>


</div>
<footer>
 <div>&copy2020 WeCanCodeIt - <a href="/team-page">Contact Us</a></div> 
</footer>

  </body>
</html>