<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>eatSmart About</title>
  <link rel="stylesheet" href="/css/navBar.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles-team.css">
</head>

<body>

  <nav>
    <p><a href="/homepage"><img src="/images/eatSmart-logo-03.png" alt="eatSmart-Home" width="190" height="42"></a></p>

    <ul>
      <li><a href="/show-recipes">My Recipes</a></li>
      <li><a href="/show-meals">My Meals</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/team-page">About Us</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>

  <div class="container">

    <div class="about">
      <h1>About Us</h1>
      <!-- <h2>Our Team</h2> -->

      <div class="team">
        <!--Jenelle-->
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Jenelle-photo.jpg" alt="photo_of_Jenelle">
          </div>
          <h3>Jenelle Malue</h3>
          <p class="role">Developer</p>
          <p>Talented, highly motivated, agile full-stack software developer seeking an opportunity in an organization
            where I can use my skills and passion to make an impact, while continuing to learn and grow.</p>
          <a class="contact_info" href=mailto:jrod2416@gmail.com? subject="Hello ">Email </a>
          <a class="contact_info" href="https://www.linkedin.com/in/jenelle-malue-03809044/ " target="_blank ">LinkedIn
          </a>
          <a class="contact_info" href="https://github.com/jmalue" target="_blank ">GitHub</a>
        </div>
        <!--Michael-->
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Michael-photo.jpg" alt="photo_of_Michael">
          </div>
          <h3>Michael Garcia</h3>
          <p class="role">Developer</p>
          <p>Enthusiastic and dedicated software developer eager to join a development team. My desire is to create programs that will improve user experience and productivity of the company I am fortunate enough to work for.</p>
          <a class="contact_info" href=mailto:garciajm1120@gmail.com subject="Hello ">Email </a>
          <a class="contact_info" href="www.linkedin.com/in/michael-garcia-a579271a1/ " target="_blank ">LinkedIn </a>
          <a class="contact_info" href="https://github.com/mickeySTI" target="_blank ">GitHub</a>
        </div>
        <!--Kelli-->
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Kelli-photo.jpg" alt="photo_of_Kelli">
          </div>
          <h3>Kelli Valverde</h3>
          <p class="role">Developer</p>
          <p>Full-stack software developer with 10 years of graphic design experience. Collaborative, creative
            problem-solver who handles tasks from start to finish. Looking to become a front-end developer or UX/UI
            designer.</p>
          <a class="contact_info" href=mailto:kellipaughvalverde@gmail.com subject="Hello ">Email </a>
          <a class="contact_info" href="https://www.linkedin.com/in/kellipaugh/ " target="_blank ">LinkedIn </a>
          <a class="contact_info" href="https://github.com/kellivalverde" target="_blank ">GitHub</a>
        </div>
        <!--Dylan-->
        <div class="team_member">
          <div class="team_image">
            <img src="/images/Dylan-photo.jpg" alt="photo_of_Dylan">
          </div>
          <h3>Frederick Vaca</h3>
          <p class="role">Developer</p>
          <p>Highly motivated full-stack developer and Marine Corps veteran seeking a position as a back-end developer
            with an organization where I can continue to grow my knowledge and develop my skills.</p>
          <a class="contact_info" href=mailto:fredvaca112@icloud.com subject="Hello">Email </a>
          <a class="contact_info" href="https://www.linkedin.com/in/fred-vaca-wfg/ " target="_blank ">LinkedIn </a>
          <a class="contact_info" href="https://github.com/DillyWilly112" target="_blank ">GitHub</a>

        </div>
      </div>
    </div>


  </div>
  <footer>
    <div>&copy2020 WeCanCodeIt - <a href="/team-page">Contact Us</a></div>
  </footer>

</body>

</html>